# Python
__pycache__/
*.py[cod]
*$py.class
.Python
env/
venv/
ENV/
streamlit_env/

# Flask
instance/
.webassets-cache

# Database
*.db
*.sqlite
*.sqlite3

# IDE
.vscode/
.idea/
*.swp
.DS_Store

# Environment
.env
.env.local

# Logs
*.log
